<h1>Welcome, <%= @user.username %>!</h1>
<p>Thank you for signing up for Taskfy. Please confirm your email by clicking the link below:</p>
<p>
  <a href="<%= @confirmation_link %>">Confirm your email</a>
</p>
<p>We’re excited to have you with us!</p>
