<div class="bg-gradient-to-r from-rose-500 to-orange-300">
  <%= render "form", user: @user %>

  <%= link_to "Back to login", new_session_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
